@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>Trying to lose weight for the new year, but having a hard time sticking to your diet or even remembering what your diet consists of? Do you know what foods you can eat, but the foods are so expensive you end up going over your monthly food budget after only a week? If either of these cases sound like you, you'll benefit from what Nutrition Bud has to offer!</p>

<p>Nutrition Bud allows you to create your own diet plan, and define the foods that will be allowed on that plan. You can then view the plan whenever you're unsure of what you're allowed to eat. Additionally, you can set a monthly budget and Nutrition bud will show you how much money you can spend per day or week. Nutrition Bud will also allow you to enter grocery expenses and will recalculate how much you can spend for the rest of the month by week or day.</p>

<p>Did you spend more money than your food budget allowed in a month? No worries, Nutrition Bud can take the difference out of your next monthy budget automatically to make sure you're keeping your spending on the level.</p>

<!-- This is how you tag addresses in HTML
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->