@model NutritionBud.ViewModels.AddFoodViewModel

<h1>Add Food</h1>

<form method="post" asp-controller="Food" asp-action="Add" style="max-width:270px;">

    

    <div class="form-group" >
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="alert-danger" asp-validation-for="Name"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price"/>
        <span class="alert-danger" asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <label asp-for="NutritionPlanID"></label>
        <select asp-for="NutritionPlanID" asp-items="Model.NutritionPlans"></select>
        </div>
    
    <input type="submit" value="Add Food" />

    
</form> 