@model NutritionBud.ViewModels.AddFoodViewModel

<h1>Add Food</h1>

<form method="post" asp-controller="Food" asp-action="Add">

    <div class="alert-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="number" name="price" min="0" max="1000" step=".01" />
    </div>
    <input type="submit" value="Add Food" />

    
</form> 