@model List<NutritionBud.Models.Food>

<h1>Food</h1>

<p><a asp-controller="Food" asp-action="Add">Add</a> | <a asp-controller="Food" asp-action="Remove">Remove</a></p>

<hr />

@if (Model.Count == 0)
{
    <p>No foods yet!</p>
}
else
{ 
    <table class="table">
        <tr>
            <th>Food</th>
            <th>Price</th>
        </tr>
        @foreach (var food in Model)
        {
        <tr>
            <td>@food.Name</td>
            <td>@food.Price</td>
        </tr>
        }
     </table>
}

        <hr />

        <p><a asp-controller="Food" asp-action="Add">Add</a> | <a asp-controller="Food" asp-action="Remove">Remove</a></p>