@{

    
}

<h1>Food</h1>

<p><a asp-controller="Food" asp-action="Add">Add</a></p>

<hr />

@if (ViewBag.foods.Count == 0)
{
    <p>No foods yet!</p>
}

<ul>
    @foreach (string food in ViewBag.foods)
    {
        <li>@food</li>
    }
</ul>

<hr />

<p><a asp-controller="Food" asp-action="Add">Add</a></p>